/* Переменные */
:root {
--primary-text-color: #757575;
--accent-color: #2196F3;
}

/* Body styles */
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

/* Утилиты */
.list {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul, 
ol {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

img {
    display: block;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}

/* Header */
.page-header {
    display: flex;
    align-items: center;
}

/* Header logo */
.header-logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.main-nav {
    display: flex;
    align-items: center;
}

/* Navigation */
.site-nav {
    display: flex;
}

.site-nav-list {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-nav-list-item:not(:last-child) {
    margin-right: 50px;
}

.contacts-list {
    display: flex;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
}
.contacts-list-item:not(:last-child) {
    margin-right: 50px;
}

.site-nav-list-link,
.contacts-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
    
        
}
.site-nav-list-link:hover,
.site-nav-list-link:focus,
.contacts-list-link:hover,
.contacts-list-link:focus,
.address-list_map:hover,
.address-list_map:focus,
.address-list-link:hover,
.address-list-link:focus,
.hero-button:hover,
.hero-button:focus{
    color: var(--accent-color);
}



.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Hero title */
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #000000;
}

/* Hero button */
.hero-button {
    display: inline-block;
    min-width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
    background: #2196F3;
    color: #fff;
}

/* Advantages title */
.advantages-list-title {
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

/* Services title */
.services-title {
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

/* Team title */
.team-title {
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

/* Team name */
.team-list-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

/* Team position */
.team-list-text {
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
} 


/* Footer styles */
.footer-logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #696868
}
.address-list-item  {
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;    
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.address-list_map {
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #7c7b7b;
}
.address-list-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(26, 25, 25, 0.6);
    list-style: none;
}

/*================== potfolio  styles ==================*/

/*.potfolio-button-list-item > button:hover,
.potfolio-button-list-item > button:focus {
    color: var(--accent-color);
}*/

.potfolio-button-list-title:hover,
.potfolio-button-list-title:focus {
    color: var(--accent-color);
}
.potfolio-button-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
}
.potfolio-list-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.potfolio-list-text {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

